.chart {
	text-align: center;
}

.adsense {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.aviso {
	text-align: center;
	color: red;
	font-weight: bold;
}

.permalink {
	font-size: 10px;
	float: right;
}

ol.alternativas {
	margin-bottom: 2em;
	list-style-type: upper-alpha;
}

/* diseño de preguntas en la creación/edición de una prueba */
#preguntas > div {
	border: 1px dashed gray;
	padding: 10px;
	margin-bottom: 10px;
}
#preguntas > div > div, #preguntas img.imagen {
	margin-bottom: 10px;
}
#preguntas > div > div > a, #preguntas > div > div > div > div {
	display: block;
	margin-bottom: 5px;
}
#preguntas textarea.pregunta, #preguntas textarea.explicacion {
	width: 685px;
}
#preguntas select.tipo {
	width: 90px;
}
#preguntas img.imagen {
	float: left;
	max-width: 300px;
	border: 1px solid black;
	margin-right: 20px;
}
#preguntas div.respuestas {
	float: left;
	width: 350px;
}
#preguntas input.respuesta {
	width: 310px;
}
#preguntas div.respuestas span {
	color: red;
}
#preguntas textarea.pregunta, #preguntas textarea.explicacion, #preguntas input.respuesta {
padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
#preguntas textarea.pregunta:focus, #preguntas textarea.explicacion:focus, #preguntas input.respuesta:focus {
border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

p.objetivo {
	font-size: 1.4em;
	color: #444;
}
p.objetivo > span {
	color: orange;
	font-weight: bold;
}
ul  {
	list-style-image: url('../img/icons/16x16/actions/check.png');
}
